body {
  background: #232b2b;
/*    font-family: 'Roboto Mono';*/
    font-family: 'Raleway', sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-areas:
        "typing-effect typing-effect typing-effect"
        ". header ."
        ". projects ."
        ". resume ."
}

.projects {
    grid-area: projects;
    margin-bottom: 70px;
}

.projects-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
/*    background-image: url("https://picsum.photos/100/100");*/
    margin-top: 20px;
    border-radius: 8px;
    width: 250px;
    height: 400px;
    -webkit-box-shadow: 6px 7px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 7px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 7px 9px 0px rgba(0,0,0,0.75);
    background-color: #5D3F6A;
}

.project:hover {
    -webkit-box-shadow: 2px 3px 13px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 13px -2px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 13px -2px rgba(0,0,0,0.75);
}

.project-desc {
    padding: 0px 10px 0 10px;
}

.project-image {
    height: 100px;
    width: 100%;
    
}
.project-image img {
    height: 100px;
    object-fit: cover;
}

.typing-effect {
    grid-area: typing-effect;
    height: 100vh;
/*    display: flex;*/
    align-items: center;
}

.bio {
    grid-area: bio;
}

.profile-pic {
    grid-area: profile-pic;
    align-self: center;
    justify-self: center;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10em;
    grid-template-areas: 
        ". profile-pic"
        "bio profile-pic"
        ". profile-pic";
    
}

header img {
  display: block;
  max-width:300px;
  max-height:400px;
  width: auto;
  height: auto;
    border-radius: 8px;

}

.resume-responsive {
    display: none;
}
.resume {
    grid-area: resume;
}
.resume-header {
    display: flex;
    justify-content: space-between;
}

.resume-header span {
    padding-top: 25px
}
.skills {
    margin-bottom: 30px;
}

.skill-section {
    height: 30px;
}

.skill-body {
    display: flex;
}

.skill {
    margin-left: 20px;
}

.job {
    margin-bottom: 40px;
}
.job-meta {
    display: flex;
}

.job-meta-right {
    margin-left: auto;
}

.job-title {
    color: #00FF00;
}

li {
    margin-bottom: 6px;
    color: grey;
}

text, h1, p, h2, h3, h4, h5, h6, ul {
    color: white;
}

span {
    color: grey;
}

@media only screen and (max-width: 600px) {
/*
    body {
        background-color: lightblue;
    }
*/
    
    .main-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "typing-effect"
            "header"
            "projects"
            "resume"
    }
    
    header {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    
    .bio {
        text-align: center;
        margin-bottom: 40px;
    }
    
    .projects-data {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
            align-items: center
    }
     
    .resume {
        display: none;     
    }
    
}

