body {
  background: #232b2b;
/*    font-family: 'Roboto Mono';*/
    font-family: 'Raleway', sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-areas:
        "typing-effect typing-effect typing-effect"
        ". header ."
        ". resume ."
}

.typing-effect {
    grid-area: typing-effect;
    height: 100vh;
/*    display: flex;*/
    align-items: center;
}

.bio {
    grid-area: bio;
}

.profile-pic {
    grid-area: profile-pic;
    align-self: center;
    justify-self: center;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10em;
    grid-template-areas: 
        ". profile-pic"
        "bio profile-pic"
        ". profile-pic";
    height: 100vh;
}


.resume {
    grid-area: resume;
}

.skills {
    margin-bottom: 30px;
}

.skill-section {
    height: 30px;
}

.skill-body {
    display: flex;
}

.skill {
    margin-left: 20px;
}

.job {
    margin-bottom: 40px;
}
.job-meta {
    display: flex;
}

.job-meta-right {
    margin-left: auto;
}

.job-title {
    color: #00FF00;
}

li {
    margin-bottom: 6px;
    color: grey;
}

h1, p, h2, h3, h4, h5, h6, ul {
    color: white;
}

span {
    color: grey;
}


/*Responsive code
@media screen and (min-width: 34em) {
.site {
    ...
    }
}

*/