.typing-effect {
  font-family: 'Raleway', sans-serif;
  padding: 3em 2em;
  font-size: 18px;
  color: #aaa; 
    
}


.typing-effect h1 {
    font-weight: 200;
    margin: 0.4em 0;
    font-size: 3.5em;
    margin-top: 35vh;
    margin-left: 8vw;
}

@media only screen and (max-width: 600px) {
    .typing-effect {
        padding: 0;
    }
    .typing-effect h1 {
        font-size: 1em;
        margin-left: 4vw;
        margin-top: 40vh;
        
    }
    
}
